<div class='index'>
  <div class='title'>
    <h1>Kitewheel To-do's</h1>
  </div>
  
  <div class='to-do'>
    <h2>What's next?</h2>
    <% if(queue.length > 0) { %>
      <p>
        <%= queue[0] %>  
        <div class="delete"><%- include done.ejs %></div>
      </p>
    <% } else { %>
      <p> What do you need to get done today? </p>
    <% } %>
  </div>

  <div class="post">
    <%- include form.ejs %>
  </div>

  <div class="done">
    <h2>Done</h2>
    <% var length = done.length %>
    <% if(length > 0) { %>
      <ul>
        <% for(var i = 0; i < length; i++) { %>
          <li><%= done[i] %></li>
        <% } %>
      </ul>
    <% } else { %>
      <p>Nothing done yet.</p>
    <% } %>
  </div>
</div>
