<div class='index'>
  <div class='title'>
    <h1>Kitewheel To-do's</h1>
  </div>
  
  <div class='to-do'>
    <h2>What's next?</h2>
    <% if(queue.length > 0) { %>
      <p>
        <%= queue[0] %>  
        <div class="delete"><%- include done.ejs %></div>
      </p>
    <% } else { %>
      <p> What do you need to get done today? </p>
    <% } %>
  </div>

  <div class="post">
    <%- include form.ejs %>
  </div>

  <div class="done">
    <h2>Done</h2>
    <ul>
      <!-- Don't calculate done.length every time through the loop -->
      <% var length = done.length %>
      <% for(var i = 0; i < length; i++) { %>
        <li><%= done[i] %></li>
      <% } %>
    </ul>
  </div>
</div>
