<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Kitewheel</title>
    <meta name="description" content="Example Node.js app for Kitewheel">
    <meta name="author" content="Dan Murphy">
  </head>
  <body>
    <%- body %>
  </body>
</html>
